
.table {
    overflow-x: auto;
    overflow-y: auto;
    margin: 50px 40px 50px 10px;
  
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: left;
    padding-left: 5%;
    padding: .5% ;
  }

  .header {
    /* position: fixed; */
    /* left: 50; */
    top: 50px;
    /* width: 100%; */
    background-color: gray;
    color: white;
    text-align: left;
    padding-left: 5%;
    margin-bottom:15px;
    /* padding-bottom: 1%; */
  }

  
